@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Excon-Regular";
  src: url('/font/Excon-Regular.otf') format("truetype");
}

:root {
  --body-font: 'Roboto', sans-serif;
  --body-alt-font: 'Chakra Petch', sans-serif;
  --body-color: rgb(255, 255, 255);
  --body-bg: #00003E;
  --hover-text: #ffce00;
  --game-section: #221870;
  --purple: #5c2cc5;
  --footer_br: #ffffff33;
  --second-test: #DCE6FF;
  --header-bg: #191939;
  --black-bg: #090c1d;
  --yellow: #ffce00;
  --text_color: #9789cd;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  line-height: 25px;
  font-weight: 400;
  color: white;
  list-style: none;

  ul,
  a {
    text-decoration: none !important;
  }

  a:focus {
    outline: none !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.pb_40 {
  padding-bottom: 40px;
}

h1,
h1>a {
  font-size: 76px !important;
  line-height: 91.2px !important;
  font-family: var(--body-alt-font);
  font-weight: 600 !important;
}

.py_30 {
  padding: 30px 0;
}

.mb_30 {
  margin-bottom: 30px;
}

.pb_120 {
  padding-bottom: 100px;
}

.pt_120 {
  padding-top: 120px;
}

p {
  color: var(--text_color) !important;
}

/* ! header style  */
#header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}


.header_fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--header-bg) !important;
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 30%);
  animation: 1s fadeInDown;
  /* border-bottom: 1px solid #7b6cb9; */
}

#header-section .container {
  border-bottom: 1px solid transparent;
  flex-wrap: wrap;
}

.header_fixed .container {
  border-bottom: none !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.icon_style {
  width: 20px;
  height: 20px;
}

.search_btn {
  padding-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul {
  margin-bottom: 0 !important;
  display: flex;
}

#menu ul a {
  padding: 10px 20px;
  color: white;
}

/* #menu ul a:last-child {
  padding: 20px 0 0 !important;
} */

.h-first {
  position: absolute;
  -webkit-text-stroke: 2px rgb(197, 106, 24);
  width: 100%;
  top: -3px;
  left: 1px;
}

.h-second {
  position: absolute;
  -webkit-text-stroke: 2px rgb(197, 106, 24);
  width: 100%;
  top: -3px;
  left: 0px;
}

.h-third {
  position: relative;
  color: white;
}

.h-first,
.h-second,
.h-third {
  font-family: "Excon-Regular", Arial, sans-serif;
}

#menu ul a li {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  transition: all 300ms;
  text-wrap: nowrap;
  text-decoration: none;
}

#menu ul li a span {
  font-size: 14px;
}

#menu ul a:hover li {
  color: var(--hover-text);
}

/* #menu ul a:nth-last-child(2):hover li {
  color: white;
} */
#menu ul a:last-child:hover li {
  color: white;
}

.menu {
  height: 320px !important;
  height: 430px !important;
  overflow: auto !important;
}

.game_section {
  padding-top: 120px;
}

.grid_game {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}


/* ! footer style  */
footer {
  background-color: var(--header-bg);
  /* margin-top: 260px; */
}


.social_area a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.social_area a img {
  z-index: 1;
}

/* .social_area a::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 30px;
  height: 30px;
  background-image: url(/assets/logos/social-bg.png);
  background-repeat: no-repeat;
  transition: ease 0.5s;
}

.social_area a:hover::before {
  background-image: url(/assets/logos/social-bg-hover.png);
  background-repeat: no-repeat;
  transition: ease 0.5s;
} */

.social_area a:hover svg path {
  fill: var(--yellow);
}

.copyright {
  border-top: 1px solid var(--footer_br);
}

.copyright div {
  font-size: 15px;
  color: var(--second-test);
  text-transform: uppercase;
}

.copyright a {
  color: #ffffff;
  font-size: inherit;
}

.copyright a:hover {
  color: var(--hover-text);
}

.footer_link li,
.footer_link li a {
  font-size: 15px !important;
}

.footer_link :hover {
  color: var(--hover-text) !important;
}


.subscribe {
  background: #191939;
  border: 1px solid #7b6cb9;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 5px;
  display: flex;
}

.subscribe input {
  border: none;
  border-radius: 12px;
  padding: 6px 12px 10px;
  color: rgb(151, 137, 205) !important;
  background: #191939;
}

input {
  padding: 10px 25px;
  border: 1px solid #4450B8;
  width: 100%;
  font-family: var(--body-font);
  outline: none;
  color: black;
}

.subscribe .my_btn:hover {
  background-size: 300% 100%;
  background-color: #7b6cb9 !important;
}

.subscribe .my_btn {
  /* outline: none !important;
  border: none !important;
  padding: 6px 12px 10px;
  font-size: 14px !important;
  text-transform: uppercase;
  color: var(--body-color);
  margin-right: 5px;
  transition: all 0.3s ease;

  font-weight: 900;
  text-transform: uppercase;
  border-radius: 12px;
  background: linear-gradient(420deg, rgb(255, 206, 0) 0%, rgb(255, 206, 0) 49%, rgb(238, 175, 14) 49%, rgb(238, 175, 14) 100%) left center / 100% 100% no-repeat;
  box-shadow: rgb(197, 106, 24) 0px -3px 0px 0px inset, rgb(255, 234, 47) 0px 2px 0px 0px inset; */
  padding: 10px 20px;
  background: #2c2852;
  border-radius: 28px;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--body-color);
  margin-right: 5px;
}

.footer-top {
  background-color: var(--header-bg);
  margin-top: -260px;
  border-radius: 10px;
  border: 1px solid #7b6cb9;
}

.footer_p {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}


/*! slider section */

.cmn_btn {
  /* position: relative; */
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 28px;
  border-radius: 12px;
  transition: all ease 0.3s;
  padding: 12px 18px;
  padding: 6px 12px 10px;
  cursor: pointer;
}

/* .cmn_btn_alt2 {
  background: linear-gradient(420deg, rgb(255, 206, 0) 0%, rgb(255, 206, 0) 49%, rgb(238, 175, 14) 49%, rgb(238, 175, 14) 100%) left center / 100% 100% no-repeat;
  box-shadow: rgb(197, 106, 24) 0px -3px 0px 0px inset, rgb(255, 234, 47) 0px 2px 0px 0px inset;
  padding: 6px 12px 10px;
  border-radius: 12px;
}

.cmn_btn_alt:hover,
.cmn_btn_alt2:hover {
  background-size: 300% 100%;
}

.cmn_btn_alt {
  background: #4E01CE;
  background: linear-gradient(420deg, rgb(255, 206, 0) 0%, rgb(255, 206, 0) 49%, rgb(238, 175, 14) 49%, rgb(238, 175, 14) 100%) left center / 100% 100% no-repeat;
  box-shadow: rgb(197, 106, 24) 0px -3px 0px 0px inset, rgb(255, 234, 47) 0px 2px 0px 0px inset;
} */



/* .cmn_btn {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 28px;
  transition: all ease 0.3s;
  padding: 12px 30px;
  cursor: pointer;
}

.cmn_btn_alt2 {
  background: #7400D3;
  box-shadow: 0px 4px 0px #57049A;
}

*/
.cmn_btn_alt2:hover {
  color: white !important;
  background: #4E01CE;
  box-shadow: 0px 4px 0px #4707B3;
}

.cmn_btn {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 28px;
  transition: all ease 0.3s;
  padding: 12px 30px;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cmn_btn_alt2 {
  background: #7400D3;
  box-shadow: 0px 4px 0px #57049A;
}

/* .cmn_btn_alt2:active {
  color: white !important;
  background: #4E01CE;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
} */



.cmn_btn_alt {
  background: #4E01CE;
  box-shadow: 0px 4px 0px #4707B3;
}

.cmn_btn_alt:hover {
  background: #7400D3;
  box-shadow: 0px 4px 0px #57049A;
}

/* .cmn_btn_alt:active {
  background: #7400D3;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
} */


/* .c-first {
  position: absolute;
  left: 1px;
  -webkit-text-stroke: 2px rgb(197, 106, 24);
  width: 100%;
  top: -2px;
}

.c-second {
  position: absolute;
  left: 2px;
  -webkit-text-stroke: 2px rgb(197, 106, 24);
  top: -1px;
  width: 100%;
}

.c-third {
  position: relative;
  color: white;
} */

/* .c-second,
.c-first,
.c-third {
  font-size: 14px !important;
  font-family: "Excon-Regular", Arial, sans-serif;
} */

.slider_text {
  margin-bottom: 52px;
}

h2,
h2>a {
  font-size: 35px !important;
  line-height: 62.4px !important;
}

p,
li {
  margin: 0;
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--second-test);
  line-height: 25px;
}


.slider_text h2 {
  font-family: var(--body-alt-font);
  color: var(--body-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.single-item {
  padding: 0 15px;
}

.single-item a img {
  max-width: 100%;
  height: auto;
}

.custom_width {
  max-width: 100%;
  height: auto;
}

.side-contant {
  position: relative;
}

.side-contant img {
  position: absolute;
}

.circle {
  filter: grayscale(100%)
}

.side-contant .left .bg {
  top: -40px;
}

.side-contant .left .top {
  left: 10%;
}

.side-contant .right img {
  right: 0;
  top: -12px;
}


.pt-120 {
  padding-top: 120px;
}

.pb_46 {
  padding-bottom: 46px;
}

.pt_46 {
  padding-top: 46px;
}

.header_PT120 {
  padding-top: 120px;
}

.pt-100 {
  padding-top: 60px;
}

.pb-120 {
  padding-bottom: 120px;
}

.footer-top .section-header {
  margin-top: -6px;
}

.section-header {
  margin-bottom: 56px;
}

.title {
  font-family: var(--body-alt-font);
  color: var(--body-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-header h4 {
  font-size: 32px;
  line-height: 38.4px;
}

.section-header p {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

/* *faq */
.faq_text p {
  font-weight: 400;
  font-size: 18px;
  margin: 0 10%;
}

#faq-section .left-area {
  position: relative;
}

#faq-section .left-area {
  position: relative;
}

#faq-section .left-area::before {
  content: '';
  position: absolute;
  background: #252338;
  opacity: 0.3;
  border-radius: 50%;
  padding: 240px;
  left: -24%;
  top: -23%;
  animation: zoominout 5s linear infinite;
}

#faq-section .left-area::after {
  content: '';
  position: absolute;
  background: #22212E;
  opacity: 0.2;
  border-radius: 50%;
  padding: 265px;
  left: -32%;
  top: -31%;
  animation: zoominout 5s linear infinite;
}

#faq-section .left-area span::before {
  content: '';
  position: absolute;
  background: #2c2852;
  border-radius: 50%;
  padding: 160px;
}

#faq-section .left-area span::after {
  content: '';
  position: absolute;
  background: #282542;
  opacity: 0.5;
  border-radius: 50%;
  padding: 210px;
  left: -15%;
  top: -15%;
  animation: zoominout 5s linear infinite;
}

.faq-page .left-area::before {
  padding: 220px !important;
}

.faq-page .left-area::after {
  padding: 245px !important;
}

.faq-page .left-area span::before {
  padding: 140px !important;
}

.faq-page .left-area span::after {
  padding: 190px !important;
}


@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.accordion-button {
  color: white !important;
  background: #2c2852 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button::after {
  content: "";
  background-image: none !important;
  color: white !important;
  background-color: #6d61a2 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-button::after {
  content: "+" !important;
  font-size: 20px !important;
}

.accordion-button:not(.collapsed)::after {
  content: "-" !important;
  font-size: 31px !important;
}

.accordion-body {
  padding: 15px 30px 20px !important;
  background: var(--black-bg) !important;
  background: #191939 !important;
  color: rgb(151, 137, 205);
  font-size: 14px !important;
  line-height: 20px !important;
}

.accordion-button {
  padding: 12px 20px !important;
}

.accordion-header {
  line-height: normal !important;
}

.accordion-item {
  border: none !important;
}

.accordion button {
  font-size: 18px !important;
}

.blog_txt_section p:first-child {
  font-size: 12px;
}

.blog_txt_section p:last-child {
  font-size: 14px;
}

.blog_txt_section h4 {
  font-size: 18px;
}

/* *wrapper css */
#common_section .banner_content .left_banner {
  position: absolute;
  top: 0;
  left: 0;
}

.nav_bred {
  margin-bottom: 45px;
}

.nav_bred a {
  font-size: 24px !important;
  position: relative;
  color: white;
}

.nav_bred a:first-child {
  padding-right: 30px;
}

.nav_bred a:first-child::after {
  left: 75px;
  top: 6px;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(/assets/arrow-right.png);
  background-repeat: no-repeat;
}

#common_section.faq {
  padding-top: 202px;
  padding-bottom: 78px;
  margin-bottom: 0;
}

.nav_bred {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 3px;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: .25rem;
}

.faq_section {
  margin-bottom: 56px;

  h2 {
    font-size: 57px !important;
    line-height: 91.2px !important
  }
}

/*! scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 0;
  right: 30px;
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  text-align: center;
  transition: all 1s;
  transform: translateY(100%);
}

#scrollToTopBtn path {
  fill: black;
}

.topBtn {
  bottom: 30px !important;
  transform: translateY(0%) !important;
  color: #fff;
}

/* !about_us */
#common_section .banner-bottom.about {
  z-index: 1;
  margin-top: -450px;
}

#common_section .banner-bottom.about .main-content {
  position: relative;
  transform: translateY(480px);
}

#common_section .banner-bottom.about .main-content::before {
  position: absolute;
  content: '';
  background: #0D0D48;
  border-radius: 20px;
  width: 115%;
  height: 80%;
  left: -5%;
  z-index: -1;
}

#common_section .banner-bottom.about .item-area {
  transform: translate(30px, -80px);
}

#common_section .banner-bottom.about .item-area .content-item {
  padding: 30px;
  background-color: #31148B;
  border-radius: 20px;
}

#common_section .banner-bottom.about .item-area .single-item {
  padding: 0;
  width: 85%;
  margin: 0 auto;
}

#common_section .banner-bottom.about .item-area .single-item h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #00FEDF;
}

#common_section .banner-side {
  position: absolute;
  right: 0;
  bottom: 140px;
}

.bread_12 {
  z-index: 3;
}

.bread_12 .text-area .nav_bred_area {
  margin-bottom: 45px;
}

.common_sectionh2 {
  font-size: 57px !important;
  line-height: 68.4px !important;
  font-family: var(--body-alt-font) !important;
}

/* 
.about_main::before {
  position: absolute;
  content: '';
  background: red;
  border-radius: 20px;
  width: 115%;
  height: 80%;
  left: -5%;
  z-index: -1;
} */

.about_text {
  padding-top: 420px;
  padding-bottom: 120px;
}


/** new game section */
.game_menu_bar {
  background: #2c2852;
  /* box-shadow: 0px 5px 6px #252338; */
  border-radius: 58px;
  padding: 15px;
  /* margin-bottom: 50px; */
  margin-bottom: 25px;
}

.input-area {
  padding: 4px 25px;
  background: #191939;
  border: 1px solid var(--footer_br);
  box-shadow: 0px 8px 24px rgb(0 0 0 / 10%);
  border-radius: 28px;
}

.input-area input {
  background: transparent;
  color: var(--body-color);
  border: none;
  padding: 10px 20px;
}

.game_menu_button {
  a {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 15px;
    margin-right: 4px;
  }

  :first-child img {
    background: #6000FF;
  }

  :not(:first-child) img {
    background: #8A0DF0;
  }

}

.game_menu_button a:hover img {
  background: #6000FF;
}

.game_menu_button a:first-child:hover img {
  background: #8A0DF0 !important;
}

/* contact_form */
.contact_form {
  background-color: #2c2852;
  padding: 14px;
  border-radius: 14px;

  label {
    margin-bottom: 4px;
  }

  input {
    margin-bottom: 8px;
  }

  button {
    border: none;
  }

}

textarea {
  padding: 10px 25px;
  border: 1px solid #4450B8;
  width: 100%;
  font-family: var(--body-font);
  outline: none;
  color: black;
}

.contact_form textarea,
.contact_form input {
  background: #191939;
  border: 1px solid var(--footer_br);
  border-radius: .25rem;
  color: white;
}


/* .shineBtn {
  position: relative;
  overflow: hidden;
} */


.image_animation:hover.shineBtn:after,
.image_animation:hover.shineBtn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 40px;
  background-color: hsla(0, 0%, 100%, .2);
  transform: skewX(30deg);
  opacity: .6;
  filter: blur(5px);
  left: -100%;
  top: 0;
  animation: shineAnimation 1.8s ease infinite;
}

@keyframes shineAnimation {
  0% {
    opacity: 0.7;
    left: 10px;
  }

  50% {
    opacity: 1;
    left: calc(100% + 60px);
  }
}


/* .de-gradient-edge-top {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, rgba(30, 31, 34, 1) 0%, rgba(30, 31, 34, 0) 100%);
}

.de-gradient-edge-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, rgba(30, 31, 34, 1) 0%, rgba(30, 31, 34, 0) 100%);
} */

/*! game section */

.g_section {
  background-image: url('/assets/gameSection_bg.png') !important;
}

.game_description {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #191939;
  padding: 16px 26px !important;

  p {
    font-size: 16px;
    text-align: justify;
  }

  ul li {
    list-style: disc;
    color: var(--text_color);
    font-size: 16px;
  }

  ul li::marker {
    color: #6d61a2;
  }
}

.game_description .game_tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  span {
    padding: 6px 16px;
    border: 1px solid var(--footer_br);
    border-radius: 28px;
  }
}

.cmn_btn_alt3 {
  box-shadow: 0px 4px 0px #4707B3;
  background: -webkit-linear-gradient(to right, #7400D3 0%, #4E01CE 50%, #7400D3 100%);
  background: linear-gradient(to right, #7400D3 0%, #4E01CE 50%, #7400D3 100%);
  animation: slide 2s linear infinite;
}

@keyframes slide {
  100% {
    background-position: 50rem;
  }
}

/* .bg_game_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
} */

.drop_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.bg_game_img2 {
  margin-top: 100px !important;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg_game_img2 .faq_section {
  padding: 26px 0;
}

@media (min-width: 1200px) and (max-width: 1700px) {
  #common_section .banner-bottom.about .main-content::before {
    width: 96% !important;
    height: 80% !important;
    left: 5% !important;
  }
}

@media (max-width: 1199px) {
  .about_text {
    padding-top: 390px !important;
    padding-bottom: 80px !important;
  }

  #common_section .banner-bottom.about .main-content::before {
    width: 82% !important;
    height: 80% !important;
    left: 9% !important;
  }

  #common_section .banner-bottom.about .main-content .ban-img {
    width: 80% !important;
    height: auto;
  }

  #common_section .banner-bottom.about .main-content {
    text-align: center;
  }

  #common_section .banner-bottom.about .item-area {
    transform: translate(0, -80px);
  }

  .cmn_btn {
    padding: 12px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1200px) {
  #common_section .banner-bottom.about .main-content {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .game_description ul li {
    font-size: 14px !important;
  }

  .about_text {
    padding-top: 370px !important;
    padding-bottom: 70px !important;
  }

  #common_section .banner-side {
    bottom: 0;
  }

  /* #common_section .banner-bottom.about .main-content .ban-img {
    width: 80% !important;
  } */
  .common_sectionh2 {
    font-size: 40px !important;
    line-height: 47px !important;
  }

  #common_section .banner-bottom.about .main-content::before {
    width: 100% !important;
    height: 70% !important;
    left: 0% !important;
  }

  #header-section {
    background-color: var(--header-bg);
  }

  .faq_section {
    h2 {
      font-size: 40px !important;
      line-height: 47px !important
    }
  }

  #common_section .banner_content .left_banner {
    width: 35%;
    height: auto;
  }

  h1,
  h1>a {
    font-size: 54px !important;
    line-height: 64px !important;
  }

  .c-first {
    top: -4px;
  }

  .c-second {
    left: 1px;
    top: -3px;
  }

  .grid_game {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
  }

  .accordion button {
    font-size: 14px !important;
  }

  #faq-section .custom-mb {
    justify-content: center;
    margin: 100px 0 130px;
  }

  .section-header {
    margin-bottom: 30px;
  }

  .section-header h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .pb-120 {
    padding-bottom: 60px;
  }

  .pt-120 {
    padding-top: 60px;
  }

  .subscribe input {
    font-size: 14px;
  }

  .side-contant .right img {
    right: 0;
    top: -65px;
  }

  .side-contant .left .bg {
    top: -10px;
    width: 40%;
    height: auto;
  }

  .side-contant .left .top {
    left: 10%;
    top: 0;
    width: 13%;
    height: auto;
  }

  .side-contant .right img {
    right: 0;
    bottom: 0;
    width: 34%;
    top: 80px !important;
    height: auto;
  }

  .pb-120 {
    padding-bottom: 60px !important;
  }

  .pt-120 {
    padding-top: 60px !important;
  }

  .pb_120 {
    padding-bottom: 50px;
  }

  h2,
  h2>a {
    font-size: 30px !important;
    line-height: 46px !important;
  }

  a,
  p {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  #header-section .container {
    padding: 4.5px 0;
  }

  nav {
    width: 100%;
  }

  #menu {
    height: 0;
    transition: all 0.4s ease;
    scrollbar-width: none;
    overflow: hidden;

    ::-webkit-scrollbar {
      display: none;
    }
  }

  #menu ul {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 15px;
  }

  #menu ul a {
    padding: 15px 40px 15px 12px;
  }

  /* #menu ul a:nth-last-child(2) {
    padding: 10px 20px;
  } */

  #faq-section .left-area::before,
  #faq-section .left-area::after,
  #faq-section .left-area span::before,
  #faq-section .left-area span::after {
    animation: none;
  }
}

@media (max-width: 767px) {
  .game_menu_bar {
    border-radius: 30px;
  }

  .game_banner {
    right: 2%;
    bottom: 6%;
    width: 50%;
    height: auto;
  }

  .about_text {
    padding-top: 260px !important;
    padding-bottom: 70px !important;
  }

  #common_section .banner-bottom.about .item-area .content-item {
    padding: 19px !important;
  }

  #common_section.about_u {
    padding-top: 140px;
    padding-bottom: 0;
  }

  #common_section .banner-bottom.about .main-content {
    position: relative;
    transform: translateY(420px) !important;
  }

  #common_section .banner-side {
    right: 2% !important;
    bottom: 6% !important;
    width: 50% !important;
    height: auto;
  }

  .quick_link:hover {
    color: white !important;
  }

  .footer-top {
    margin-top: -220px;
  }

  #faq-section {
    padding-bottom: 50px;
  }

  #faq-section .custom-mb {
    margin: 55px 0 80px;
  }

  .side-contant {
    display: none;
  }

  /* footer {
    margin-top: 185px;
  } */

  .game_section_mt {
    margin-top: 36px !important;
  }
}

@media (max-width: 575px) {

  .about_text {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .common_sectionh2 {
    font-size: 30px !important;
    line-height: 36px !important;
  }

  #common_section.faq {
    padding-bottom: 0;
  }

  .faq_section {
    h2 {
      font-size: 30px !important;
      line-height: 36px !important
    }
  }

  h1,
  h1>a {
    font-size: 40px !important;
    line-height: 46px !important;
  }

  .copyright div {
    font-size: 12px;
  }

  .copyright div a {
    font-size: 12px !important;
  }

  .blog_container {
    margin-top: 50px !important;
  }

  .blog_container .flex350 {
    margin-bottom: 28px !important;
  }

  .pt-100 {
    padding-top: 30px;
  }

  .grid_game {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  #faq-section .left-area::before,
  .faq-page .left-area::before {
    padding: 125px !important;
    left: 10%;
    top: -23%;
  }

  #faq-section .left-area span::before,
  .faq-page .left-area span::before {
    padding: 80px !important;
  }

  #faq-section .left-area span::after,
  .faq-page .left-area span::after {
    padding: 110px !important;
    left: 15%;
    top: -15%;
  }

  #faq-section .left-area::after,
  .faq-page .left-area::after {
    padding: 140px !important;
    left: 5%;
    top: -30%;
  }

  #faq-section .left-area img {
    max-width: 50%;
    height: auto;
  }

  #faq-section .left-area,
  #faq-section .left-area span {
    text-align: center;
  }

  .footer_contact {
    padding: 0 15px;
  }

  .section-header p {
    font-size: 16px;
    line-height: 20px;
  }

  .section-header h4 {
    font-size: 18px;
    line-height: 22px;
  }

  .pt-120 {
    padding-top: 50px;
  }

  .pb-120 {
    padding-bottom: 50px;
  }

  .slider_margin {
    margin-top: 45px;
  }

  .pb_120 {
    padding-bottom: 45px;
  }

  .pt_120 {
    padding-top: 100px;
  }

  .px-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  h2,
  h2>a {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  p {
    font-size: 14px !important;
    line-height: 18px !important;
  }

}

@media (max-width:500px) {
  .game_menu_button {
    flex-wrap: wrap !important;
  }

  .footer-top {
    margin-top: -222px;
  }

  .grid_game {
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .game_banner {
    right: 2%;
    bottom: 6%;
    width: 50%;
    height: auto;
  }

  .about_text {
    padding-top: 374px !important;
    padding-bottom: 70px !important;
  }

  #common_section .banner-bottom.about .item-area .content-item {
    display: grid !important;
  }

  #common_section .banner-bottom.about .item-area .single-item {
    margin-bottom: 30px !important;
  }
}

@media (max-width:450px) {

  h2,
  h2>a {
    font-size: 26px !important;
    line-height: 36px !important;
  }
}

@media (max-width:410px) {

  .c-second,
  .c-first,
  .c-third {
    font-size: 12px !important;
  }

  .cmn_btn {
    padding: 6px 10px 10px;
    padding: 10px 10px 8px 10px;
  }

  .game_flex_col {
    flex-direction: column;
  }
}

@media (max-width:420px) {
  .about_text {
    padding-top: 420px !important;
    padding-bottom: 70px !important;
  }

  #common_section .banner-bottom.about .item-area {
    transform: translate(0, -20px) !important;
  }
}

@media (max-width:370px) {

  .flex350 {
    flex-direction: column !important;
    gap: 16px;

    .col-8,
    .col-4 {
      width: 100% !important;
      display: flex;
      justify-content: center !important;
    }

    .col-6 {
      width: 100% !important;
      display: flex;
      justify-content: center !important;
    }
  }
}